@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* estilizaçao da pagina como um geral */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
    background-color: #000000;
    color: white;
    padding: 10px 200px;

}

/* estilização da barra de navegação */
nav {
    margin: 0%;
    background-color: #333;
    padding: 1%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* alinhando os menus da barra de navegação*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

/* estilizando os botões dos menus */
a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

/* animação basica */
nav a:hover {
    background-color: #cacaca;
    border-radius: 8px;
}
 
/* alinhamento do cabeçalho */
header {
    text-align: center;
}

/* customização da imagem */
.avatar img {
    width: 250px;
    border-radius: 100%;
}

.avatar {
    display: flex;
    justify-content: start;
}

.search {
    display: inline-block;
}

.rodape>a>img {
    width: 40px;
}

.link {
    background-color: white;
}

.rodape {
    display: flex;
    justify-content: start;
}

.rodape a{
    margin: 50px;
}